*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    scrollbar-color: #888 #f1f1f1;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

/* header style start */
header {
    background-image: url("./images/bricolage.webp");
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.header-background {
    width: 100%;
    height: 100%;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.7);
}

.header-background h2 {
    font-size: 32px;
}

.header-background p {
    font-size: 16px;
    font-weight: 600;
}

.call-button {
    display: inline-block;
    background: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 500;
}

.social-media {
    margin-top: 10px;
}

.social-media p {
    font-size: 16px;
    font-weight: 600;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
}

.social-media-icons a{
    text-decoration: none;
    color: white;
}

.social-media-icons i {
    font-size: 28px;
}
/* header style end */

/* services style strat */
.services {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    background: #f8f9fa;
}

.services h2 {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    color: #121618;
}

.underline {
    width: 20%;
    height: 4px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #000000;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.service {
    display: flex;
    align-items: center;
    width: 350px;
    gap: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    background: #1e3050;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
.service.visible {
    opacity: 1;
    transform: translateY(0);
}

.service i {
    font-size: 18px;
}

.service:hover {
    transform: scale(1.05);
    background: #254bdd;
}
/* services style end */

/* Общий стиль для секции */
.tik-tok-videos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 30px;
}

.video-box {
  height: auto;
  border-radius: 16px;
  overflow: hidden;
}

.video-box video {
  width: 100%;
  height: auto;
  display: block;
}

/* gallery style strat */
.gallery {
    padding: 20px;
    text-align: center;
    background: #f8f9fa;
}

.gallery h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #121618;
}

.gallery-container {
    margin-top: 30px;
}

.gallery img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.show-more-btn {
    background-color: #1e3050;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.show-more-btn:hover {
    background-color: #0056b3;
}
/* gallery style end */

/* img ligthbox style start */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

#close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    font-size: 32px;
    cursor: pointer;
}

#prev-btn, #next-btn {
    color: white;
    font-size: 36px;
    cursor: pointer;
}

#prev-btn {
    margin-right: 10px;
}

#next-bt {
    margin-left: 10px;
}
/* img ligthbox style end */

/* Goggle Avis Style Start */

.reviews-container {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #f8f9fa;
}

.reviews-container-h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #121618;
}

.review-h2-2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #121618;
}

.avis-start {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
  
.full {
    color: #f5b041;
}
  
.half {
    background: linear-gradient(to right, #f5b041 50%, #FFFFFF 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel {
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.reviews {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
    margin: 0 40px;
}
.review {
    min-width: 280px;
    max-width: 320px;
    background: #fff;
    padding: 25px 15px;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
}

.avatar-google{
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 40px;
    height: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.google-icon {
    width: 25px;
    height: 25px;
}

.review h3 {
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0.5px;
    color: #000000;
}

.date{
    font-size: 12px;
    font-style: normal;
    color: #252525;
}

.stars {
    color: gold;
    font-size: 20px;
    letter-spacing: 3px;
}

.review-avis {
    font-size: 14px;
    color: #252525;
    font-weight: 500;
    margin-top: 5px;
}

.prev, .next {
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #1e3050;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    border-radius: 3px;
}
.prev { left: 0; }
.next { right: 0; }
.prev:hover, .next:hover {
    background: black;
}

/* About us style start */
.about-us {
    width: 90%;
    margin: 30px auto;
}

.about-us h2 {
    font-size: 28px;
    font-weight: 800;
    color: #121618;
}

.about-us-description {
    margin-top: 12px;
    font-weight: 600;
}

.about-us h3 {
    margin-top: 18px;
}

.about-us-why {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.about-us-why i {
    font-size: 32px;
    color: #28a745;
}

.about-us-why p {
    font-weight: 500;
    margin-left: 20px;
}

.about-us-why strong {
    color: #0056b3;
    font-size: 16px;
    font-weight: 700;
}

.about-us-fin {
    margin-top: 18px;
    font-weight: 700;
}

/* About us style end */


/* contact style start */
.contact {
    padding: 20px;
    background: #f8f9fa;
    text-align: center;
}

.contact h2 {
    font-size: 28px;
    font-weight: 800;
    color: #121618;
    text-transform: uppercase;
}

.contact {
    font-weight: 500;
}
/* contact style end */

/* footer style start */
footer {
    background: #252525;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
}

footer p {
    font-weight: 500;
    letter-spacing: 0.5px;
}
/* footer style end */

@media only screen and (max-width: 780px) {
    header {
        background-image: url("./images/des-outils-de-bricolage-002.jpg");
        background-position: center;
        background-size: cover;
    }
    
    .header-background {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-background h2 {
        width: 370px;
        padding: 0;
        font-size: 25px;
        line-height: 30px;
    }

    .header-background  p {
        width: 350px;
    }

    .prev, .next {
        display: none;
    }

    .reviews {
        margin: 0;
    }

    .underline {
        width: 50%;
    }
    
    .services h2 {
        font-size: 24px;
    }

    .gallery h2 {
        font-size: 24px;
    }

    .lightbox {
        flex-direction: column;
    }

    #prev-btn {
        margin-bottom: 10px;
    }
    
    #next-btn {
        margin-top: 10px;
    }

    .reviews-container-h2 {
        font-size: 24px;
    }

    .review-h2-2 {
        font-size: 22px;
    }

    .about-us h2 {
        font-size: 24px;
    }

    .about-us-description {
        font-size: 14px;
    }

    .about-us-why p {
        font-size: 14px;
    }

    .about-us-why strong {
        font-size: 16px;
    }

    .contact h2 {
        font-size: 24px;
    }
  }